
<!--
<ul class="social py-2 fs-5 mt-5" >
    <a [href]="" target="_BLANK"
      ><li><i class="fa-brands fa-instagram fa-2x " type="button"></i></li>
    </a>
    <a [href]="" target="_BLANK"
      ><li><i class="fa-brands fa-facebook fa-2x " type="button"></i></li>
    </a>
    <a [href]="" >
    <li><i class="fa-brands fa-twitter  fa-2x" type="button"></i></li>
    </a>
    
  </ul>


  </div>
</div>
-->
   
    <ul class="list-group list-group-horizontal ">
    <li class="list-group-item"><a class=link href="{{instagram}}"><i class="fa-brands fa-instagram fa-2x" type="button"></i></a> 
    </li>
    <li class="list-group-item"><a class=link href="{{facebook}}"><i class="fa-brands fa-facebook fa-2x"></i> </a>  </li>
    <li class="list-group-item"><a class=link href="{{ twitter}}"><i class="fa-brands fa-twitter fa-2x"></i> </a></li>  
 
