
  #logotrab3{
    width: 140px;
    float: left;
    height: 120px;
    margin-right: 10px;
  
  }
  
  #logotrab4{
    width: 140px;
    float: left;
    height: 120px;
    margin-right: 10px;
  
  }


  #logotrab1{
    width: 140px;
      float: left;
      height: 120px;
      margin-right: 10px;
  }

#logotrab2{
  width: 140px;
    float: left;
    height: 120px;
    margin-right: 10px;
}


     /* falta fondo*/
    .profesional{
      background-color: rgb(46, 46, 46);
     }
     h2,h4,h5,h6{
      color: aliceblue;
     }