<app-navbar-ingreso></app-navbar-ingreso>

<div class="contenedor">
    <div class="login" >
    
      <h1 class="text-center">Iniciar Sesion</h1>
      
      <form [formGroup]="form"  (ngSubmit)="onEnviar($event)">   
         
          <div>
        <label for="email">Email: </label>                          
        <input class="form-control" type="email" formControlName="email" [class.border-danger]="MailValid">
                
              </div> 
            <!-- Gracias al getter que configuramos en el controlador -->
        <div *ngIf="Mail?.errors  && Mail?.touched">    
            <p *ngIf="Mail?.hasError('required')" class="error">
                El email es requerido.
            </p>
            <p *ngIf="Mail?.hasError('email')" class="error">
                El formato del email debe ser válido.
              </p>
        </div>


        <div>
            <label for="exampleInputPassword1" class="form-label">Password: </label>
            <input class="form-control" type="password" formControlName="password" [class.border-danger]="PasswordValid">
        </div>

<!-- Gracias al getter que configuramos en el controlador -->
<div *ngIf="Password?.errors  && Password?.touched">
    <p *ngIf="Password?.hasError('required')" class="error">
      El password es requerido.
    </p>
    <p *ngIf="Password?.hasError('minlength')" class="error">
      El password debe tener un minimo de 6 caracteres.
    </p>
    <p *ngIf="Password?.hasError('maxlength')" class="error">
      El password debe tener un maximo de 8 caracteres.
    </p>
  </div>
    <br/>
    <div>
        <button class="btn btn-mas w-100" routerLink="/dashboard" type="submit">Ingresar</button>
    </div>

    <small>¿Aún no tienes cuenta? <a routerLink="/register">registrarse</a></small>

      </form>
    
    </div>
    
    </div>
    





    






<app-footer></app-footer>