
  <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
    

    <div class="carousel-inner">
      <div class="carousel-item active c-item">
        <img src="{{banner}}" class="d-block w-100 c-img" alt="Slide 1">
        <div class="carousel-caption">
          <br>
          <p class="mt-5 fs-3 text-uppercase">{{titulo}}</p>
          <p class="display-1 fw-bolder text-capitalize"> {{name}}</p>
         <br><br><br>
        
        
        </div>
      </div>
     
    
